@import "var";

//namespace
.activity-list{
  ul,p,h2{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  .item{
    padding: 17rem / @psdWidth 30rem / @psdWidth 32rem / @psdWidth;
    background: #ffffff;
    margin-bottom: 25rem / @psdWidth;
    border: 1px solid #cccccc;
  }

  .show{
    display: inline-block;
    width: 40%;
    height: 280rem / @psdWidth;
    border: 1px solid #cccccc;
    vertical-align: top;
    .fix-img-small;
  }

  .detail{
    display: inline-block;
    width: 50%;
    min-height: 280rem / @psdWidth;
    overflow: hidden;
    margin-left: 25rem / @psdWidth;
    position: relative;
    h2 {
      .font-48;
      color: #333333;
      font-family: @fm-base;
      padding: 10rem / @psdWidth 0;
      .text-over;
    }

    .signature {
      display: inline-block;
      color: #ffffff;
      background: #ff9933;
      padding: 0.07rem 0.09259259rem;
      border-radius: 10rem / @psdWidth;
      max-width: 100%;
      .font-36;
      letter-spacing: 4rem / @psdWidth;
      .text-over;
      margin-bottom: 20rem /@psdWidth;
    }
    .icon{
      i {
        display: inline-block;
        font-style: normal;
        vertical-align: middle;
        .rfz(55px);
        margin-right: 25rem / @psdWidth;
      }
      span {
        display: inline-block;
        color: #666666;
        vertical-align: middle;
        .rfz(36px);
      }
      &.time i{
        color: #44d48b;
      }
      &.location i{
        color: #4ea1ff;
      }
      &.cost i{
        color: #ff7660;
      }
    }

    .create-time{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  footer{
    margin-top: 55rem / @psdWidth;
    width: 100%;
    a{
      display: inline-block;
      color: #999999;
      width: 33%;
      text-align: center;
      .font-36;
      border-right: 1px solid #cccccc;
    }
    a:last-child{
      border: none;
    }
    //padding-bottom: ;
  }
}