@import "var";

//namespace
.date-list{
  font-family: @fm-base;
  ul, p{
    margin: 0;
    padding: 0;
  }
  i{
    font-style: normal;
  }
  .item{
    padding: 48rem / @psdWidth 48rem / @psdWidth 25rem / @psdWidth;
    background: #ffffff;
    margin-bottom: 25rem / @psdWidth;
    border: 1px solid #cccccc;
  }
  header {
    padding-bottom: 20rem / @psdWidth;
    border-bottom: 1px solid #cccccc;
  }

  .person{
    float: left;
  }
  .side-tag{
    float: right;
  }


  i.head {
    width: 146rem / @psdWidth;
    height: 146rem / @psdWidth;
    border-radius: 73rem / @psdWidth;
    display: inline-block;
    border: 1px solid #cccccc;
    vertical-align: middle;
    margin-right: 25rem / @psdWidth;
    .fix-img-small;
  }

  //头部信息
  .detail{
    display: inline-block;
    vertical-align: middle;
    width: 464rem / @psdWidth;
    overflow: hidden;
    span {
      display: inline-block;
      color: #000000;
      .rfz(48px);
      font-family: @fm-base;
      vertical-align: middle;
    }
    .gender{
      color: #ff607a;
      display: inline-block;
      .rfz(48px);
      vertical-align: middle;
      margin-left: 20rem / @psdWidth;
    }
    .signature {
      .rfz(36px);
      color: #666666;
      font-family: @fm-base;
      .text-over;
    }
  }

  .side-tag{
    background: #c4c4c4;
    color: #ffffff;
    border-radius: 30rem / @psdWidth;
    font-family: @fm-base;
    padding: 7rem / @psdWidth 12rem / @psdWidth;
  }

  main{
    position: relative;
  }

  //内容
 .content {
   color: #000000;
   .rfz(48px);
   font-family: @fm-base;
   padding: 26rem / @psdWidth 0 40rem / @psdWidth;
 }

  .icon {
    margin-bottom: 20rem / @psdWidth;
    span {
      display: inline-block;
      margin-left: 26rem / @psdWidth;
      .rfz(36px);
      color: #666666;
      font-family: @fm-base;
      vertical-align: middle;
    }
  }
  .icon:last-child{
    margin: 0;
  }
  .box-icon;

  .create-time{
    position: absolute;
    right: 0;
    bottom: 0;
    .rfz(36px);
    color: #666666;
  }

  footer{
    margin-top: 55rem / @psdWidth;
    width: 100%;
    a {
      display: inline-block;
      color: #999999;
      width: 33%;
      text-align: center;
      .rfz(36px);
      border-right: 1px solid #cccccc;
    }
    a:last-child{
      border: none;
    }
    //padding-bottom: ;
  }
}

//加载更多按钮
.load-more{
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  background-color: #fff;
  text-align: center;
  margin: 0.24074074rem;
  border-radius: 2px;
  .rfz(42px);
  box-shadow: 0 1px 1px rgba(98, 98, 98, 0.3);
}