@import "var";

//namespace
.filter-container {
  h5, .expand,dt,dd,menu{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  display: none;
  position: absolute;
  width: 540rem / @psdWidth;
  min-height: 100%;
  right: 0;
  top: 144rem /@psdWidth;
  z-index: 1000;
  menu{
    background: #ffffff;
    padding: 1em 0;
    li{
      float: right;
      margin-right: 60rem /@psdWidth;
      .font-36;
      color: #666666;
      font-family: @fm-base;
    }
  }

  .expand {
    .tip,.item {
      padding: 30rem / @psdWidth 0;
      color: #000000;
      font-family: @fm-base;
      .font-48;
      border-top: 1px solid #cccccc;

      span{
        padding-left: 45rem / @psdWidth;
      }
    }
    .tip{
      background: #ffffff;
    }
    .item{
      background: #eeeeee;
      .icon{
        float: right;
        display: none;
      }
    }

    .item.select{
      .icon{
        display: block;
      }
    }
  }

  .filetr_overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0,0,0,0.5);
  }
}

