@import "var";

//namespace
.filter-container {
  h5{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  background: #ffffff;
  position: fixed;
  width: 540rem / @psdWidth;
  height: 100%;
  right: 0;
  top: 144rem /@psdWidth;
  z-index: 2;
  border: 1px solid #cccccc;

  menu{
    li{
      float: right;
      margin-right: 60rem /@psdWidth;
      .font-36;
      color: #666666;
      font-family: @fm-base;
    }
  }
}