/*layout 整体布局*/
@import "var";

.home-wrapper{
  padding-top: 312rem / @psdWidth;
}

//顶部 类型 1
.top-layout-1{
  .render-box;
  width: 100%;
  height: @topHei1;
  background: @topBgc1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

//顶部 类型 2
.top-layout-2{
  .render-box;
}

//导航
.nav-layout {
  width: 100%;
  margin-bottom: 24rem / @psdWidth;
  position: fixed;
  left: 0;
  top: 145rem / @psdWidth;
  z-index: 100;
}

//轮播
.slider-layout{
  .render-box;
  width: 100%;
  height: @sliderHei;
  margin-bottom: 26rem / @psdWidth;
}

//module
.module-layout{
  height: auto;
  .swiper-slide{
    width: 100%;
  }
}
