/*layout 整体布局*/
.box-icon .icon .iconfont {
  display: inline-block;
  font-size: 0.42592593rem !important;
  vertical-align: middle;
}
.box-icon .box-time .iconfont {
  color: #44d48b;
}
.box-icon .box-location .iconfont {
  color: #4ea1ff;
}
.box-icon .box-cost .iconfont {
  color: #ff7660;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.render-box {
  box-sizing: border-box;
  overflow: hidden;
}
.fix-img-over {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.fix-img-small {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-36 {
  font-size: 12px;
}
[data-dpr="2"] .font-36 {
  font-size: 18px;
}
[data-dpr="3"] .font-36 {
  font-size: 36px;
}
.font-48 {
  font-size: 16px;
}
[data-dpr="2"] .font-48 {
  font-size: 24px;
}
[data-dpr="3"] .font-48 {
  font-size: 48px;
}
.test-bor-grey {
  border: 1px solid #ccc;
}
.test-bor-blue {
  border: 1px solid blue;
}
.test-bor-red {
  border: 1px solid red;
}
.test-bor-green {
  border: 1px solid green;
}
.home-wrapper {
  padding-top: 2.88888889rem;
}
.top-layout-1 {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 1.33333333rem;
  background: #f3f3f3;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.top-layout-2 {
  box-sizing: border-box;
  overflow: hidden;
}
.nav-layout {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 1.33333333rem;
  background: #333333;
  margin-bottom: 0.22222222rem;
  box-shadow: 0 0.03703704rem 0.0462963rem rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 1.34259259rem;
  z-index: 100;
}
.slider-layout {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 3.7962963rem;
  margin-bottom: 0.24074074rem;
}
.module-layout {
  box-sizing: border-box;
  overflow: hidden;
}
.module-layout .swiper-slide {
  width: 100%;
}
