@import "var";

//namespace
.login-container{
  //border-top: 1px solid #cccccc;
  .logo-wrapper{
    width:240rem/@psdWidth;
    height:240rem/@psdWidth;
    border:1px solid #999;
    .border-radius(100%);
    margin: 100rem/@psdWidth auto;
    box-shadow: 0 0 1px #999;
    .fix-img-small;
  }
  .input-item {
    width: 100%;
    position: relative;
    background: #ffffff;
    input {
      display: inline-block;
      width: 80%;
      border: none;
      outline: none;
      background: none;
      //text-indent: 50rem /@psdWidth;
      padding: 50rem /@psdWidth 0;
      color: #000000;
      .rfz(48px);
      font-family: @fm-base;
      vertical-align: middle;
    }
    .icon {
      //position: absolute;
      width: 10%;
      display: inline-block;
      vertical-align: middle;
      padding: 50rem /@psdWidth 0;
      font-style: normal;
      text-align: center;
      color: #cccccc;
      .rfz(60px);
    }
  }

  .input-item:nth-child(2){
    border-bottom: 1px solid #dddddd;
  }

  .input-item:first-child {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #cccccc;
  }
  .btn {
    width: 90%;
    height: 145rem/@psdWidth;
    margin: 80rem/@psdWidth 5% 0;
    outline: none;
    border: none;
    background: #ff9933;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    color: white;
    font-family: @fm-base;
    border-radius: 6rem / @psdWidth;
    .rfz(48px);
  }

  a{
    margin-top:40rem/@psdWidth;
    .rfz(36px);
    &.left{
      float:left;
      margin-left: 5%;
      color:#4686e5;
    }
    &.right{
      color: #999999;
      margin-right: 5%;
      float:right;
  }
  }
}