@import "var";

//namespace
.login-container{
  border-top: 1px solid #cccccc;
  .logo-wrapper{
    width:240rem/@psdWidth;
    height:240rem/@psdWidth;
    border:1px solid #999;
    .border-radius(100%);
    margin: 100rem/@psdWidth auto;
    box-shadow: 1px 1px 1px #999;
  }
  .input-item {
    border-bottom: 1px solid #cccccc;
    width: 100%;
    input{
      display: block;
      width: 100%;
      border: none;
      outline: none;
      background: #ffffff;
      text-indent:50rem /@psdWidth;
      padding:50rem /@psdWidth 0;
      color: #000000;
      .rfz(18px);
      font-family: @fm-base;
    }
  }

  .btn{
    width:90%;
    height:145rem/@psdWidth;
    margin:80rem/@psdWidth 5% 0;
    border: 1px solid #79c24d;
    outline: none;
    background: #ff9933;
    color: white;
    font-family: @fm-base;
    border-radius: 10rem / @psdWidth;
    .rfz(18px);
  }

  a{
    margin-top:40rem/@psdWidth;
    .rfz(16px);
    &.left{
      float:left;
      margin-left: 5%;
      color:#4686e5;
    }
    &.right{
      color: #999999;
      margin-right: 5%;
      float:right;
  }
  }
}