.box-icon .icon .iconfont {
  display: inline-block;
  font-size: 0.42592593rem !important;
  vertical-align: middle;
}
.box-icon .box-time .iconfont {
  color: #44d48b;
}
.box-icon .box-location .iconfont {
  color: #4ea1ff;
}
.box-icon .box-cost .iconfont {
  color: #ff7660;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.render-box {
  box-sizing: border-box;
  overflow: hidden;
}
.fix-img-over {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.fix-img-small {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.test-bor-grey {
  border: 1px solid #ccc;
}
.test-bor-blue {
  border: 1px solid blue;
}
.test-bor-red {
  border: 1px solid red;
}
.test-bor-green {
  border: 1px solid green;
}
.menuBar {
  height: 1.55555556rem;
  border-bottom: 1px solid #cccccc;
  background: #f3f3f3;
  padding: 0 0.32407407rem;
}
.menuBar p {
  margin: 0;
  padding: 0;
}
.menuBar .tip {
  float: left;
  font-size: 0.55555556rem;
  color: #444444;
  font-family: "hiraginosansgb w3", "microsoft yahei";
  line-height: 1.55555556rem;
}
.menuBar .do {
  float: right;
  color: #8dda5e;
  font-size: 0.44444444rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
  line-height: 1.55555556rem;
}
