.box-icon .icon .iconfont {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
[data-dpr="2"] .box-icon .icon .iconfont {
  font-size: 18px;
}
[data-dpr="3"] .box-icon .icon .iconfont {
  font-size: 36px;
}
[data-dpr="2"] .box-icon .icon .iconfont {
  font-size: 18px;
}
[data-dpr="3"] .box-icon .icon .iconfont {
  font-size: 36px;
}
.box-icon .box-time .iconfont {
  color: #44d48b;
}
.box-icon .box-location .iconfont {
  color: #4ea1ff;
}
.box-icon .box-cost .iconfont {
  color: #ff7660;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.render-box {
  box-sizing: border-box;
  overflow: hidden;
}
.fix-img-over {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.fix-img-small {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.font-36 {
  font-size: 12px;
}
[data-dpr="2"] .font-36 {
  font-size: 18px;
}
[data-dpr="3"] .font-36 {
  font-size: 36px;
}
[data-dpr="2"] .font-36 {
  font-size: 18px;
}
[data-dpr="3"] .font-36 {
  font-size: 36px;
}
.font-48 {
  font-size: 16px;
}
[data-dpr="2"] .font-48 {
  font-size: 24px;
}
[data-dpr="3"] .font-48 {
  font-size: 48px;
}
[data-dpr="2"] .font-48 {
  font-size: 24px;
}
[data-dpr="3"] .font-48 {
  font-size: 48px;
}
.test-bor-grey {
  border: 1px solid #ccc;
}
.test-bor-blue {
  border: 1px solid blue;
}
.test-bor-red {
  border: 1px solid red;
}
.test-bor-green {
  border: 1px solid green;
}
.search-container {
  padding-top: 2.77777778rem;
}
.search-container #form-wrapper {
  width: auto;
  margin: 0.37037037rem 0;
  line-height: 1.15740741rem;
}
.search-container #form-wrapper .search-input {
  width: 90%;
  padding: 0.18518519rem;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 5%;
}
[data-dpr="2"] .search-container #form-wrapper .search-input {
  font-size: 24px;
}
[data-dpr="3"] .search-container #form-wrapper .search-input {
  font-size: 48px;
}
[data-dpr="2"] .search-container #form-wrapper .search-input {
  font-size: 24px;
}
[data-dpr="3"] .search-container #form-wrapper .search-input {
  font-size: 48px;
}
.search-container #form-wrapper .icon-search {
  position: absolute;
  font-size: 20px;
  color: #999999;
  margin-left: -0.64814815rem;
  margin-top: -0.01851852rem;
}
[data-dpr="2"] .search-container #form-wrapper .icon-search {
  font-size: 30px;
}
[data-dpr="3"] .search-container #form-wrapper .icon-search {
  font-size: 60px;
}
[data-dpr="2"] .search-container #form-wrapper .icon-search {
  font-size: 30px;
}
[data-dpr="3"] .search-container #form-wrapper .icon-search {
  font-size: 60px;
}
.search-container .hot-act,
.search-container .hot-peo {
  padding: 0 5%;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 0.37037037rem;
}
.search-container .hot-title {
  font-size: 15.33333333px;
  color: #8dda5e;
  margin: 0.23148148rem 0;
}
[data-dpr="2"] .search-container .hot-title {
  font-size: 23px;
}
[data-dpr="3"] .search-container .hot-title {
  font-size: 46px;
}
[data-dpr="2"] .search-container .hot-title {
  font-size: 23px;
}
[data-dpr="3"] .search-container .hot-title {
  font-size: 46px;
}
.search-container .act-lists {
  border-bottom: 1px solid #c3c3c3;
}
.search-container .act-title {
  font-size: 18px;
  margin: 0.18518519rem 0;
  display: inline-block;
}
[data-dpr="2"] .search-container .act-title {
  font-size: 27px;
}
[data-dpr="3"] .search-container .act-title {
  font-size: 54px;
}
[data-dpr="2"] .search-container .act-title {
  font-size: 27px;
}
[data-dpr="3"] .search-container .act-title {
  font-size: 54px;
}
.search-container .act-discount {
  font-size: 16px;
  background: #ffab47;
  border-radius: 15px;
  margin-bottom: 0.18518519rem;
  color: white;
  display: inline-block;
}
[data-dpr="2"] .search-container .act-discount {
  font-size: 24px;
}
[data-dpr="3"] .search-container .act-discount {
  font-size: 48px;
}
[data-dpr="2"] .search-container .act-discount {
  font-size: 24px;
}
[data-dpr="3"] .search-container .act-discount {
  font-size: 48px;
}
.search-container .img-wrapper {
  float: left;
  width: 1.34259259rem;
  height: 1.34259259rem;
  border-radius: 15px;
  border: 1px solid #999999;
}
.search-container .right {
  margin-left: 1.62037037rem;
}
.search-container .sex {
  font-style: normal;
  background-color: #ff6b5c;
  color: white;
}
.search-container .peo-nickname {
  font-size: 18px;
  line-height: 0.64814815rem;
}
[data-dpr="2"] .search-container .peo-nickname {
  font-size: 27px;
}
[data-dpr="3"] .search-container .peo-nickname {
  font-size: 54px;
}
[data-dpr="2"] .search-container .peo-nickname {
  font-size: 27px;
}
[data-dpr="3"] .search-container .peo-nickname {
  font-size: 54px;
}
.search-container .peo-nickname i {
  background-color: white;
  color: #ff6b5c;
  font-size: 18.53333333px;
  width: 0.83333333rem;
}
[data-dpr="2"] .search-container .peo-nickname i {
  font-size: 27.8px;
}
[data-dpr="3"] .search-container .peo-nickname i {
  font-size: 55.6px;
}
[data-dpr="2"] .search-container .peo-nickname i {
  font-size: 27.8px;
}
[data-dpr="3"] .search-container .peo-nickname i {
  font-size: 55.6px;
}
.search-container .peo-nickname .signature {
  font-size: 14px;
  line-height: 0.37037037rem;
  margin-top: 0.09259259rem;
}
[data-dpr="2"] .search-container .peo-nickname .signature {
  font-size: 21px;
}
[data-dpr="3"] .search-container .peo-nickname .signature {
  font-size: 42px;
}
[data-dpr="2"] .search-container .peo-nickname .signature {
  font-size: 21px;
}
[data-dpr="3"] .search-container .peo-nickname .signature {
  font-size: 42px;
}
.search-container .peo-nickname .peo-lists {
  border-bottom: 1px solid #999999;
  padding: 0.23148148rem 0;
  *zoom: 1;
}
.search-container .peo-nickname .peo-lists:before,
.search-container .peo-nickname .peo-lists:after {
  display: table;
  content: "";
}
.search-container .peo-nickname .peo-lists:after {
  clear: both;
}
.search-container .peo-nickname .peo-lists p {
  margin: 0;
}
