@import "var";
.search-container{
  form{
    width:auto;
    margin:40rem/@psdWidth 0;
    line-height: 125rem/@psdWidth;
    .search-input{
      width:90%;
      padding: 20rem/@psdWidth;
      box-sizing: border-box;
      .border-radius(10px);
      .rfz(16px);
      outline: none;
      border:none;
      appearance: none;
      margin-left:5%;

    }
    .icon-search{
      position: absolute;
      .rfz(20px);
      color:#999999;
      margin-left: -70rem/@psdWidth;
      margin-top: -2rem/@psdWidth;
    }
  }

  .hot-act,.hot-peo{
    padding:0 5%;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 40rem/@psdWidth;
  }

  .hot-title{
    .rfz(18px);
    color:#8dda5e;
    margin: 25rem/@psdWidth 0;
  }

  .act-lists{
    border-bottom: 1px solid #c3c3c3;
  }

  .act-title{
    .rfz(18px);
    margin: 20rem/@psdWidth 0;
    display: inline-block;
  }

  .act-discount{
    .rfz(16px);
    background: #c3c3c3;
    .border-radius(15px);
    margin-bottom:20rem/@psdWidth;
    color:white;
    display: inline-block;
  }
  .img-wrapper{
    float:left;
    width:145rem/@psdWidth;
    height:145rem/@psdWidth;
    .border-radius(15px);
    border:1px solid #999999;
  }
  .right{
    margin-left: 175rem/@psdWidth;
  }
  .peo-nickname{
    .rfz(18px);
    line-height: 70rem/@psdWidth;
  }
  .signature{
    .rfz(14px);
    line-height: 40rem/@psdWidth;
    margin-top: 10rem/@psdWidth;
  }
  .peo-lists{
    border-bottom: 1px solid #999999;
    padding: 25rem/@psdWidth 0;
    .clearfix();
    p{
      margin:0;
    }
  }
}

