/*topBar*/
@import "var";
//namespace
.top-container{
  padding:0 50rem / @psdWidth;
  p,menu{
    margin: 0;
    padding: 0;
  }
  p {
    float: left;
    line-height: @topHei1;
    color: #444444;
    .rfz(60px);
    font-family: @fm-base;
  }
  menu {
    float: right;
    li {
      float: left;
      line-height: @topHei1;
      margin-left: 68rem / @psdWidth;
      //解决iconfont没有加粗
      &:last-child {
        font-weight: bold;
      }
      &,a {
        color: #444444;
      }
    }
    //iconfont font-size
    .iconfont{
      .rfz(60px) !important;
    }
  }
}