.box-icon .icon .iconfont {
  display: inline-block;
  font-size: 0.42592593rem !important;
  vertical-align: middle;
}
.box-icon .box-time .iconfont {
  color: #44d48b;
}
.box-icon .box-location .iconfont {
  color: #4ea1ff;
}
.box-icon .box-cost .iconfont {
  color: #ff7660;
}
.clearfix:after {
  content: "";
  display: block;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.render-box {
  box-sizing: border-box;
  overflow: hidden;
}
.fix-img-over {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.fix-img-small {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.test-bor-grey {
  border: 1px solid #ccc;
}
.test-bor-blue {
  border: 1px solid blue;
}
.test-bor-red {
  border: 1px solid red;
}
.test-bor-green {
  border: 1px solid green;
}
.user-complete p,
.user-complete ul,
.user-complete h4,
.user-complete h5 {
  margin: 0;
  padding: 0;
}
.user-complete .upload {
  padding: 0.35185185rem 0.44444444rem;
  background: #ffffff;
  margin-top: 0.21296296rem;
}
.user-complete .upload .preview {
  width: 8.2037037rem;
  display: inline-block;
  vertical-align: middle;
}
.user-complete .upload .preview .item {
  width: 1.33333333rem;
  height: 1.33333333rem;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user-complete .upload .btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.40740741rem;
  color: #999999;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.user-complete .inputs {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 0.22222222rem;
}
.user-complete .inputs li {
  border-bottom: 1px solid #cccccc;
}
.user-complete .inputs li input {
  width: 100%;
  padding: 0.46296296rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 0.44444444rem;
  color: #999999;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.user-complete .tab-tip {
  color: #ff6633;
  font-size: 0.44444444rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
  font-style: normal;
  margin-bottom: 0.18518519rem;
}
.user-complete .tags {
  padding: 0.27777778rem 0.43518519rem;
}
.user-complete .tags .item {
  float: left;
  background: #ffffff;
  padding: 0.25rem 0.50925926rem;
  margin-right: 0.22222222rem;
  border-radius: 0.09259259rem;
  border: 1px solid #cccccc;
  color: #444444;
  font-size: 0.44444444rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.user-complete .authen {
  padding: 0.27777778rem 0.43518519rem;
}
.user-complete .authen h5 {
  margin: 0.18518519rem 0;
  color: #444444;
  font-size: 0.44444444rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.user-complete .authen .file-wrapper {
  position: relative;
  width: 2.65740741rem;
  background: #8dda5e;
  border-radius: 0.09259259rem;
  height: 0.90740741rem;
  line-height: 0.90740741rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.44444444rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.user-complete .authen input[type=file] {
  width: 2.65740741rem;
  height: 0.90740741rem;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  opacity: 0;
}
